<section class="form-wrapper wrapper">
  <%= form_for @entry, html: {class: 'form'} do |f| %>
    <% if @entry.errors.any? %>
      <div class="error-explanation">
          <h2>Warning: <%= pluralize(@entry.errors.count, "error") %>.</h2>
          <ul>
            <% @entry.errors.full_messages.each do |msg| %>
              <li>* <%= msg %>.</li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'How\'s it going?'%>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, placeholder: "Write an entry here" %>
    </div>

    <div class="field check-box-wrapper">
      <%= f.label 'Set this post to private?' %>
      <%= f.check_box :private, {checked: @entry.private}, 'true', 'false' %>
    </div>

    <div class="field check-box-wrapper">
      <%= f.label 'Auto-Mood' %>
      <%= f.check_box :auto_mood, {checked: @entry.auto_mood}, 'true', 'false' %>
    </div>

    <div class="field">
      <%= f.submit class: 'btn-default' %>
    </div>

    <div id="picture_container" class="picture_container">
      <div class="pictures_content">
        <span class="pictures">&times;</span>
        <p>List of pictures</p>
      </div>
    </div>
  <% end %>
</section>
