
<%= form_for @entry do |f| %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>

<p>
  <%= f.label 'Set this post to private?' %>
  <%= f.check_box :private, {checked: true}, 'Yes', 'No' %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
