<%= form_for @entry do |f| %>

<p>
  <!-- <%= f.label :title %> -->
  <%= f.text_field :title, placeholder: 'Title'%>
</p>
<br>
<p>
  <!-- <%= f.label :content %> -->
  <%= f.text_area :content, size: "40x20", placeholder: "Write an entry here" %>
</p>

<p>
  <%= f.label 'Set this post to private?' %>
  <%= f.check_box :private, {checked: true}, 'Yes', 'No' %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
