<section class="capsule-main wrapper">
  <div class="date-range">
      <h1>View Entries</h1>
      <%= form_tag(entries_path, method: "get") do %>
        <%= date_field(:from_date, :date, :value => Time.now.strftime('%Y-%m-%d')) %>
        <%= submit_tag("Pick Date", class: "btn-default") %>
      <% end %>
  </div>

  <section class="entry-wrapper">
    <% @entries.each do |entry| %>
      <%= link_to entry_path(entry) do %>
        <div class="entry-container">
          <div class="picture-container picture" style="background: url('<%= image_path(entry.bg_picture.image) %>')"></div>

          <div class="entry-title-wrapper">
            <h2 class="entry-title">
              <%= entry.title %><br>
              <small>(<%= entry.mood&.capitalize || 'Neutral' %>)</small><br>
              <small>(*<%= entry.bg_picture.mood.capitalize %>*)</small>
            </h2>
            <time class="entry-date"><%= entry.created_at.strftime("%b/%d/%Y") %></time>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</section>
