<h1>Welcome to your capsule </h1>
<div class="date_range">
    <%= form_tag(entries_path, method: "get") do %>
      <%= date_field(:from_date, :date) %>
      <%= submit_tag("Pick Date") %>
    <% end %>
 </div>
  <% @entries.each do |entry| %>
      <%= link_to entry_path(entry) do %>
      <div>
        <%="#{entry.title}" %>
        <%="#{entry.content}" %>
        <%="#{entry.created_at.strftime("%b %d %Y")}" %>
      </div>
    <% end %></br> </br></br>
  <% end %>
