<section class="single-entry-container current-entry">
  <% if current_user == @entry.user %>
    <p>

      <%= link_to edit_entry_path(@entry), class: "edit-btn" do %>
        <i class="far fa-edit fa-sm"></i>
        <p>Edit</p>
      <% end %>|
      <%= link_to("Delete", "/entries/#{@entry.id}", method: :delete, data: {:confirm => "Are you sure you want to delete this entry?"}) %>
    </p>
  <% end %>

  <div class="entry-title-wrapper">
    <h1><%= @entry.title %></h1>
    <h3><%= @entry.created_at.strftime("%b/%d/%Y") %></h3>
  </div>

  <p class="entry-content"><%= @entry.content %></p>
</section>

<div class="bg2" style="background: url('<%= image_path(@entry.bg_picture.image) %>')"></div>
