<section class="single-entry-container current-entry">
  <section class="entry-nav">
    <% if @previous_entry %>
      <%= link_to entry_path(@previous_entry), class: "previous-entry entry-btn" do %>
        <i class="fas fa-angle-left"></i>
      <% end %>
    <% end %>

    <%= link_to edit_entry_path(@entry), class: "edit-btn entry-btn" do %>
      <i class="fas fa-edit"></i>
      <span>Edit</span>
    <% end %>

    <%= link_to entry_path(@entry), class: "delete-btn entry-btn", method: :delete, data: {:confirm => "Are you sure you want to delete this entry?"} do %>
        <i class="fas fa-trash-alt"></i>
      <span>Delete</span>
    <% end %>

    <% if @next_entry %>
      <%= link_to entry_path(@next_entry), class: "next-entry entry-btn" do %>
        <i class="fas fa-angle-right"></i>
      <% end %>
    <% end %>
  </section>

  <div class="entry-title-wrapper">
    <h1><%= @entry.title %></h1>
    <h3><%= @entry.created_at.strftime("%b/%d/%Y") %></h3>
  </div>

  <p class="entry-content"><%= @entry.content %></p>

  <% if @entry.image.attached? %>
    <div class="entry-image"><%= image_tag @entry.image %></div>
  <% end %>
</section>

<% if @entry.bg_picture %>
  <div class="bg2" style="background: url('<%= image_path(@entry.bg_picture.image) %>')"></div>
<% end %>
