<!DOCTYPE html>
<html>
  <head>
    <title>Capsule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto+Condensed:300,400" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="logo-wrapper">
        <% if !current_user %>
          <%= link_to image_tag('capsule-logo.svg', class: 'logo'), root_path %>
        <% else %>
          <%= link_to image_tag('capsule-logo.svg', class: 'logo'), entries_path %>
        <% end %>
      </div>

      <div class="current-user">
        <% if current_user %>
          Signed in as <%= current_user.name %>
          |
          <%= link_to 'Log Out', session_path(current_user), method: :delete %>
          |
          <%= link_to 'Browse Public Entries', entries_public_path %>

          <% if current_user.admin %>
            | <%= link_to 'View Pictures', bg_pictures_path %>
          <% end %>
        <% end %>
      </div>
    </header>



    <main>
      <section class="error-block">
        <% if flash[:notice] %>
          <p class="notice">
            <%= flash[:notice] %>
            <span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>(X)</span>
          </p>
        <% end %>
        <% if flash[:alert] %>
          <p class="alert">
            <%= flash[:alert] %>
            <span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>(X)</span>
          </p>
        <% end %>
      </section>

      <%= yield %>
    </main>

    <footer>
      <p>&copy; Bitmaker 2018 | <a href="https://github.com/grahamspencer1/Capsule">See Repo Here</a></p>
    </footer>

  </body>
</html>
