<!DOCTYPE html>
<html>
  <head>
    <title>Capsule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto+Condensed:300,400" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
  </head>

  <body class="background">
    <!-- <div class="gradient"></div> -->
    <header>
      <!-- <% if @previous_entry %>
        <%= link_to entry_path(@previous_entry), class: "previous-entry entry-btn" do %>
          <i class="fas fa-angle-left"></i>
        <% end %>
      <% end %> -->

      <div class="logo-wrapper">
        <% if !current_user %>
          <%= link_to image_tag('capsule-logo.svg', class: 'logo'), root_path %>
        <% else %>
          <%= link_to image_tag('capsule-logo.svg', class: 'logo'), entries_path %>
        <% end %>
      </div>

      <nav class="main-nav <%= current_user ? 'visible' : 'hidden' %>">
        <ul>
          <li class="nav-links">
            <%= link_to entries_public_path do %>
              <i class="fas fa-book-reader"></i>
              <p>Public Entries</p>
            <% end %>
          </li>
          <li class="nav-links">
            <%= link_to new_entry_path do %>
              <i class="fas fa-plus"></i>
              <p>New Entry</p>
            <% end %>
          </li>
          <li class="nav-links">
            <%= link_to entries_path do %>
              <i class="fas fa-book"></i>
              <p>View Entries</p>
            <% end %>
          </li>
        </ul>
      </nav>

      <!-- <% if @next_entry %>
        <%= link_to entry_path(@next_entry), class: "next-entry entry-btn" do %>
          <i class="fas fa-angle-right"></i>
        <% end %>
      <% end %> -->

      <div class="current-user">
        <% if current_user %>
          Signed in as <%= current_user.name %>
          |
          <%= link_to 'Log Out', session_path(current_user), method: :delete %>

          <% if current_user.admin %>
            | <%= link_to 'View Pictures', bg_pictures_path %>
          <% end %>
        <% end %>
      </div>
    </header>

    <main class="bg1">
      <section class="error-block">
        <% if flash[:notice] %>
          <p class="notice">
            <%= flash[:notice] %>
            <span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>(X)</span>
          </p>
        <% end %>
        <% if flash[:alert] %>
          <p class="alert">
            <%= flash[:alert] %>
            <span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>(X)</span>
          </p>
        <% end %>
      </section>

      <%= yield %>

      <!-- <nav class="main-nav <%= current_user ? 'visible' : 'hidden' %>">
        <ul>
          <li class="nav-links">
            <%= link_to entries_public_path do %>
              <i class="fas fa-book-reader"></i>
              <p>Public Entries</p>
            <% end %>
          </li>
          <li class="nav-links">
            <%= link_to new_entry_path do %>
              <i class="fas fa-plus"></i>
              <p>New Entry</p>
            <% end %>
          </li>
          <li class="nav-links">
            <%= link_to entries_path do %>
              <i class="fas fa-book"></i>
              <p>View Entries</p>
            <% end %>
          </li>
        </ul>
      </nav> -->
    </main>

    <footer>
      <p>&copy; Bitmaker 2018 | <a href="https://github.com/grahamspencer1/Capsule">See Repo Here</a></p>
    </footer>
  </body>
</html>
