<!DOCTYPE html>
<html>
  <head>
    <title>Capsule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= flash[:notice] %>

    <%= yield %>

  <p>
   <% if current_user %>
     Signed in as <%= current_user.email %>. <%= link_to "Log out", sessions_path("current"), :method => :delete %>
   <% else %>
     <%= link_to "Log in", new_sessions_path %> or <%= link_to "Sign up", users_path %>
   <% end %>
  </p>

  </body>


</html>
